#warnasheet {
  /* background: linear-gradient(180deg, #315f43 0%, #44f57a 100%); */
  text-transform: uppercase;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #4c4c4c;
  -webkit-text-fill-color: rgb(255, 255, 255);
}

#warnacard3 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-style: unset;
  text-transform: uppercase;
  text-align: left;
  background-color: white;
}

#warnacard4 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: left;
}

#warnacard {
  background-color: blue;
}

#vsheetitem {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#namasheetitem {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif,
    "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 21px;
}
